In [73]:
%pwd

'C:\\Users\\User\\Untitled Folder 1'

#### Q1. Declare a list and find its length?

In [69]:
li=[10,20,30]
len(li)

3

#### Q2. Can list be nested?

yes

In [72]:
nl=[2,3,4,['po',1],'mk',[9,8,7]]
nl[3][0]

'po'

In [5]:
li=[2,3,4,5,['pooja',2,3],4,5,['mk',6,7,9]]
li[4][0]

'pooja'

#### Q3. What will happen if we add the two lists

l1=[2,4,5,1]

l2= [3,2.6.7]

In [1]:
l1=[2,4,5,1]
l2=[3,2,6,7]
l1+l2

[2, 4, 5, 1, 3, 2, 6, 7]

#### Q4. What will happen if we multiply the following list by 3

l1=[2,4,5,1]

In [2]:
l1=[2,4,5,1]
l1*3

[2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1]

#### Q5. Use indexing to grab the word "Test Yantra" from the following list

In [ ]:
lst1 = [1,3,5,7,"Test Yantra"]

In [3]:
lst1=[1,3,5,7,'test yantra']
lst1[4]

'test yantra'

#### Q6. Use indexing to grab the word "Data Science" from the following list

In [4]:
lst3=[33,21,4,6,7,[[2,1,34,"DataScience"], 22,True]]

In [5]:
lst3=[33,21,4,6,7,[[2,1,34,'data science'],22,True]]
lst3[5][0][3]

'data science'

#### Q7. Use indexing to grab the word "Python" from the following list

In [7]:
lst = [1,2,[3,4],[5,[100,200,['Python']],23,11],1,7]

In [6]:
lst=[1,2,[3,4],[5,[100,200,['python']],23,11],1,7]
lst[3][1][2]

['python']

#### Q8. Use indexing to grab the word "hello"  and print it in uppercase from the following list

In [16]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
p=lst[3][1][2]
e=str(p)
e.upper()

"['HELLO']"

 #### Q9. Given this nested list, use indexing to grab the word "final_target"

In [36]:
nest = [1,2,3,[4,5,['target', 'next_target',['final_target']]]]
nest[3][2][2][0]

'final_target'

#### Q10. name some in-built methods for list and give example for each of them

1.append

In [37]:
nest.append('pooja')
nest

[1, 2, 3, [4, 5, ['target', 'next_target', ['final_target']]], 'pooja']

2.pop

In [38]:
nest.pop(1)

2

#### Q11. What is the difference between 'del' and 'clear' with respect to list ?

In [39]:
del(nest)

In [42]:
l=[1,2,3,4]

#### Q12. Write codes to create a dictionary and use some inbuilt methods

1.items

In [43]:
d1={'key1':20,
   'key2':30}
d1.items()

dict_items([('key1', 20), ('key2', 30)])

2.pop

In [45]:
d1.pop('key1')

20

#### Q13.Given this nested dictionary grab the word "val3".

In [49]:
d = {'key1':{'val1':{'val2':'val3'}}}
d['key1']['val1']['val2']

'val3'

#### Q14.Given this nested dictionary grab the word "welome"

In [46]:
d1 = {'key1':[1,3,5,{'hello':[{'world':[4,6,'welcome']},'a','e','g']}]}
d1['key1'][3]['hello'][0]['world'][2]

'welcome'

#### Q15.Given this nested dictionary grab the word "Data Scientist"

In [51]:
d1 = {'key1':[1,3,5,{'I am':[5,7,8,[{'a':[4,6,['Data Scientist']]},'a','e','g']]}]}
d1['key1'][3]['I am'][3][0]['a'][2]

['Data Scientist']

#### Q16.Given this nested dictionary grab the word "hello".

In [52]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

#### Q17.  Create one Tuple and use some methods associated with that

1.append

In [56]:
tup=[1,2,3,2,3,4,3,4,5]

tup.append(20)
tup

[1, 2, 3, 2, 3, 4, 3, 4, 5, 20]

2. count

In [58]:
tup.count(2)

2

#### Q18.  Create some Sets and use some methods associated with that

In [64]:
set={1,2,3,1,2,3,2,3,4,4}
set

{1, 2, 3, 4}

In [65]:
set1=[9,8,7,6,5,4,3,2,3,2,1]

1.union

In [66]:
set.union(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

2.intersection

In [68]:
set.intersection(set1)

{1, 2, 3, 4}